@import "tailwindcss";


/* Global Scrollbar Styling */
body {
  scrollbar-color: #1d4ed8 #f1f1f1;   /* For Firefox: thumb + track */
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;     /*  vertical scrollbar */
  height: 6px;    /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;   /* Light background for track */
}

::-webkit-scrollbar-thumb {
  background-color:#1d4ed8;   /* Blue color thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #145da5;   /* Darker blue on hover */
}

.transition-all {
  transition: all 0.3s ease-in-out;
}